.genre-dialog {
    background-color: #fff;
    padding: 3%;
    max-width: 450px;
}

.genre-dialog-header {
    justify-content: space-between;
}

.genre-dialog-title {
    font-weight: 600;
}

.btn-dialog-close {
    position: absolute;
    top: 17px;
    right: 16px;
}