<div class="welcome-page">
    <mat-card class="welcome-card">
        <mat-card-header>
            <img class="welcome-card-img" src="/assets/my_movie_box_logo.png" alt="My movie box logo">
        </mat-card-header>
        <mat-card-title class="welcome-card-title1">Welcome to</mat-card-title>
        <mat-card-title class="welcome-card-title2">My Movie Box!</mat-card-title>
        <mat-card-actions>
            <button mat-raised-button (click)="openUserRegistrationDialog()">
                Sign Up
            </button>
            <button mat-raised-button (click)="openUserLoginDialog()">
                Login
            </button>
        </mat-card-actions>
    </mat-card>
</div>