$primary: #182f40;
$secondary: #e49e4d;
$textColor: #000;

.welcome-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $primary;
}

.welcome-card {
    margin: auto;
    padding: 4% 6%;
    flex-direction: column;
    box-shadow: 0 0 20px 1px rgb(0, 0, 0);
    align-items: center;
    border-radius: 8px;
}

.welcome-card-img {
    height: 60px;
}

.welcome-card-title1 {
    font-size: 22px;
    padding-top: 30px;
}

.welcome-card-title2 {
    font-size: 32px;
    padding-bottom: 30px;
}

mat-card-actions button {
    background-color: $secondary;
    margin: 0 12px;
}

@media all and (max-width: 700px) {

    .welcome-card-img {
        height: 50px;
    }

    .welcome-card-title1 {
        font-size: 18px;
        padding-top: 25px;
    }

    .welcome-card-title2 {
        font-size: 28px;
        padding-bottom: 25px;
    }
}