<app-navbar></app-navbar>
<div class="movie-card-container">
    <mat-card *ngFor="let movie of movies; let i=index;" class="movie-card">
        <mat-card-header>
            <img class="movie-img" src={{movie.ImagePath}} alt={{movie.Title}} />
        </mat-card-header>
        <mat-card-title class="movie-title">{{movie.Title}} ({{movie.releaseYear}})</mat-card-title>
        <mat-card-subtitle>{{movie.Duration}} minutes</mat-card-subtitle>
        <mat-card-actions class="movie-actions">
            <button class="movie-button" (click)="openGenreDetails(movie.Genre.Name, movie.Genre.Description)"
                mat-button>
                Genre
            </button>
            <button (click)="openDirectorDetails(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
                mat-button>
                Director
            </button>
            <button (click)="openMovieSynopsis(movie.Title, movie.Description)" mat-button>
                Synopsis
            </button>
            <button mat-icon-button aria-label="Favorite movie icon" (click)="toggleFavMovie(movie._id)">
                <mat-icon>{{favMovies.includes(movie._id) ? 'favorite' : 'favorite_border'}}</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>